$rojo : #F34F51;
$verde : #0098AE;
$oscuro : #212121;
$blanco : #ffffff;
 
$primary: $rojo;
$secondary: $verde;
$dark: $oscuro;
$succes: $blanco;

$display-font-weight: 900;
$headings-font-weight: 900;

$card-border-color: transparent;

$nav-link-padding-x: 0;
$nav-link-color: $blanco;


@import '../../node_modules/bootstrap/scss/bootstrap.scss';